<ul id="footer-social-links" class="social-icons">
	<li>
		<a href="https://twitter.com/focolsrp" target="_blank">
			<i class="icon fa-twitter-square fa fa-2x"></i>
		</a>
	</li>
					<li>
							<a href="https://www.facebook.com/focogaming/" target="_blank">
									<i class="icon fa-facebook-square fa fa-2x"></i>
							</a>
					</li>
					<li>
							<a href="https://www.youtube.com/user/LSRPOfficial" target="_blank">
									<i class="icon fa-youtube-square fa fa-2x"></i>
							</a>
					</li>

</ul>