<div id="prefooter">

<div class="prefooter-block width-33">
<h2>Los Santos Roleplay</h2>
<p style="width: 350px; text-align: justify;">Los Santos Roleplay is a <a href="http://sa-mp.com/" target="_blank">San Andreas Multiplayer</a> based online server. To play, make an account at <a href="https://ls-rp.com/" target="_blank">www.ls-rp.com</a></p>
</div>
<div class="prefooter-block width-33"></div>
<div class="prefooter-block width-33"></div>
<div class="prefooter-block width-33"><a href="https://discord.gg/uMvdM9azDH" class="discord"><img src="https://discordapp.com/api/guilds/811960288043073577/widget.png?style=banner2&version=1" alt=""></a></div>

</div>
